$font-family-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
//constants style
@import "./constants/colors";
@import "./constants/fonts";
@import "./constants/variables";

//views style
@import "./views/loginView";
@import "./views/homeView";

//components generic style
@import "./generics/inputGenericComponent";
@import "./generics/selectorGenericComponent";
@import "./generics/cardGenericComponent";
@import "./generics/modalGenericComponent";

body {
  margin: 0;
  font-family: $font-family-default,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-div{
  width: 100%;
  height: 100%;
}