//primary color
$color-primary-default: #439AA3;

//gray color
$color-gray-default: #273545;
$color-gray-lighten-1: #647177;
$color-gray-lighten-2: #949ba0;
$color-gray-lighten-3: #b9bbc5;
$color-gray-lighten-4: #e8e9ed;
$color-gray-lighten-5: #f5f6fa;
$color-gray-lighten-6: #fbfbfd;

//white color
$color-white-default: #ffff;