//font size
$font-size-big-title: 28px;
$font-size-main-title: 24px;
$font-size-title: 18px;
$font-size-sub-label: 16px;
$font-size-small: 14px;
$font-size-extra-small: 12px;

//font weight
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-strong: 500;
$font-weight-extra-strong: 700;
