.card-generic-component{
  border-radius: $border-radius-regular;
  padding: 1rem;
  cursor: pointer;
  &:hover{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .category{
    font-size: $font-size-small;
    color: $color-gray-lighten-2;
    font-weight: $font-weight-extra-strong;
    margin-bottom: .4rem;
  }
  .title{
    font-size: $font-size-sub-label;
    color: $color-primary-default;
    font-weight: $font-weight-extra-strong;
    margin-bottom: 1rem;
  }
  img{
    width: 250px;
    height: 300px;
  }
  .author{
    margin: .4rem 0;
    font-size: $font-size-small;
    color: $color-gray-default;
    font-weight: $font-weight-regular;
  }
  .editorial{
    margin: .4rem 0;
    font-size: $font-size-small;
    color: $color-gray-lighten-2;
    font-weight: $font-weight-strong;
  }
}