.input-generic-component{
  .input-label{
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
    color: $color-gray-lighten-1;
    padding-bottom: 1rem;
  }
  input{
    width: calc(100% - 15px);
    padding: .6rem .5rem .5rem .5rem;
    border: 0;
    border-bottom: 1px solid $color-gray-lighten-3;
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
    font-family: $font-family-default!important;
    &:focus{
      outline: 0;
    }
  }
  &.input-focus{
    .input-label{
      color: $color-primary-default;
    }
    input{
      border-color: $color-primary-default;
      background: $color-gray-lighten-5;
    }
  }
  &.FULL{
    border: 1px solid $color-gray-lighten-3;
    background: $color-gray-lighten-5;
    border-radius: $border-radius-default;
    padding: .5rem;
    &:focus-within{
      border-color: $color-primary-default;
    }
    .input-label{
      font-size: $font-size-extra-small;
      font-weight: $font-weight-extra-strong;
    }
    input{
      background: transparent;
      border: 0;
      padding-left: 0;
      padding-bottom: .5rem;
    }
  }
}