.modal-generic-component{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(75, 89, 102, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
  &.active{
    display: flex;
  }
  .modal-content{
    width: 900px;
    height: 620px;
    border: 1px solid $color-gray-lighten-4;
    border-radius: $border-radius-regular;
    background: $color-white-default;
    padding: 1.5rem;
    position: relative;
    .close-btn{
      width: 25px;
      height: 25px;
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }
  }
}