.selector-generic-component{
  display: flex;
  align-items: center;
  .selector-main-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .selector-dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .selector-dropdown-main-label{
      padding-left: 1rem;
      font-weight: $font-weight-regular;
      font-size: $font-size-small;
    }
    .selector-dropdown-arrow-down{
      width: 15px;
      height: 15px;
      padding: 0 1rem;
    }
  }
}