.home-view{
  width: 100%;
  height: 100%;
  .modal-content-home{
    .tittle{
      font-size: $font-size-main-title;
      color: $color-gray-default;
      font-weight: $font-weight-strong;
      margin-bottom: 1rem;
    }
    .sub-title{
      font-size: $font-size-sub-label;
      color: $color-gray-lighten-2;
      font-weight: $font-weight-regular;
      margin-bottom: 1rem;
    }
    .personal-data{
      font-size: $font-size-title;
      color: $color-gray-default;
      font-weight: $font-weight-strong;
      margin-bottom: .5rem;
    }
    .input-container{
      display: flex;
      margin-bottom: 1rem;
      flex-wrap: wrap;
      .input-content{
        padding: .8rem .8rem .8rem 0;
        width: calc(33.3% - .8rem);
      }
    }
  }
  .home-sidenav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 499;
    width: 65px;
    height: calc(100% - 4rem);
    background: $color-primary-default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .icon-content{
      padding: 1rem;
      img{
        width: 32px;
        cursor: pointer;
      }
    }
  }
  .home-header{
    position: fixed;
    top: 0;
    left: 65px;
    width: calc(100% - 95px);
    height: 80px;
    border-bottom: 1px solid $color-gray-lighten-4;
    background: $color-gray-lighten-5;
    z-index: 400;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 0 1rem;
  }
  .home-content{
    width: 100%;
    height: 100%;
    margin-left: 65px;
    margin-top: 80px;
    .books-content{
      height: 100%;
      width: 100%;
      .book-content-title{
        color: $color-gray-default;
        font-size: $font-size-big-title;
        padding: 1rem;
      }
      .book-content-data{
        width: 100%;
        display: flex;
        .card-container{
          padding: 1rem;
          border-right: 1px solid $color-gray-lighten-4;
        }
      }
    }
  }
  .modal-content-home{
    .btn-accepted{
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: flex-end;
      div{
        background: $color-primary-default;
        color: $color-white-default;
        width: 180px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
      }
    }
  }
}