.login-view{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
  @media #{$medium-and-down} {
    flex-direction: column;
    padding: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
  }
  .login-main-image{
    max-width: 520px;
    width: 100%;
    height: 520px;
    padding-right: 2rem;
    @media #{$medium-and-down} {
      padding-bottom: 1rem;
      padding-right: 0;
    }
    @media #{$small-and-down} {
      max-width: 300px;
      height: 300px;
    }
  }
  .login-form{
    border-left: 1px solid $color-gray-lighten-4;
    padding-left: 2rem;
    min-width: 280px;
    max-width: 400px;
    width: 100%;
    @media #{$medium-and-down} {
      padding-left: 0;
      border: 0;
    }
    .login-form-main-title{
      font-size: $font-size-main-title;
      font-weight: $font-weight-light;
      margin: 1rem 0;
    }
    .login-form-sub-label{
      font-size: $font-size-sub-label;
      font-weight: $font-weight-extra-light;
      margin: 1rem 0;
    }
    .login-form-input{
      padding: 1rem 0;
    }
    .login-form-footer{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .login-form-footer-link{
        margin-top: 2rem;
        font-size: $font-size-small;
        color: $color-primary-default;
        font-weight: $font-weight-regular;
        text-decoration: none;
      }
      .login-form-footer-button{
        padding: 1rem 2rem;
        background: $color-primary-default;
        color: $color-white-default;
        font-size: $font-size-small;
        font-weight: $font-weight-regular;
        width: 100px;
        text-align: center;
        border-radius: $border-radius-default;
        text-decoration: none;
      }
    }
  }
}